
body
{
    padding: 2px;
}
div
{
    margin: 2px;
    padding: 2px;
}

.identifier
{
    width:40px;
}

 

input[readonly]
{
    background-color:grey;
}

label
{
    font-weight: bold;
     margin: 0 2px;
}